#Title {
  text-align: center;
  display: block;
  width: 100%;
}

h2 {
  text-align: center;
}

#hankabearlogo {
  width: 389px;
  height: auto;
}

body {
  background-image: url("Background Image for hankabear website.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

