#Title {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 100px;
  color: white;
  font-family: 'SHOWG.TTF', Regular;
}

h2 {
  text-align: center;
  color: white;
}

#hankabearlogo {
  width: 389px;
  height: auto;
}

body {
  background-image: url("Background Image for hankabear website.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

